body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#barra {
    display: flex;

    height: 35px;
    width: 400px;

    background-color: rgb(169, 169, 169, 0.5);

    border-radius: 8px;
    border: 1px solid black;
}

#fill {
    height: 35px;
    width: 100px;

    background-color: rgb(63, 63, 63);

    border-radius: 8px;
}

#hud_baixo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tag {
    display: inline-flex;

    margin-top: auto;

    height: 200px;
    width: 200px;

    border-radius: 16px;
    
    background: linear-gradient(45deg, rgb(24, 24, 24), black)
}

.tag p {
    margin: 10px;
    color:antiquewhite
}