<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">
</head>
<body>
    <div id="top-hud">
        <h1>Do Rio para Tallinn</h1>
    </div>
    <div id="container-barra">
        <div id="barra">
            <div id="fill"></div>
        </div>
    </div>
    <div id="whyuhere">
        <p>Por que estou indo?</p>
        <div class="tag">
            <p>Aperfeiçoamento</p>
        </div>
        <div class="tag">
            <p>Cultura</p>

        </div>
        <div class="tag">
            <p>Carreira</p>
        </div>
    </div>
</body>
</html>