<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">
</head>
<body>
    <div id="hud">
        <div class="corpo">
            <button>
                <svg width="44" height="44" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#fff" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 5H2V3h12v2zm0 4H2V7h12v2zM2 13h12v-2H2v2z"></path></g></svg>
            </button>
        </div>
    </div>

    <div id="content">
        {% block content %} {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>